*.jar
*/.classpath
*/.project
*/.springBeans
*/helloSQLite.db
*/.settings/
*/bin/
*/build/
*/target/
*/skins/
*.war
*/img/
*.jpg
*/.git/
*/logs
*/logs/*
*/.deployables
*/temp/
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
/Servers/
